
DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

GITHUB_TOKEN=

EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2

LLM_BASE_URL=https://openrouter.ai/api/v1
LLM_MODEL_NAME=nvidia/nemotron-3-super-120b-a12b:free
LLM_API_KEY=

AGENT_MAX_LOOP=30
AGENT_MAX_FILE_READS=15
